
body{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Whatever the dropdown is in needs a position:relative thing */
.dropdown{

  position: relative;

  display:flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.dropdown--menu{
  display: none;
}

/* to position the dropdown menu properly we need position:absolute, and then top and left to align */
.dropdown--menu.visible{

  position: absolute;
  top: 100%;
  left: 0;

  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  padding:20px;
}
