
body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  width: 500px;
  height: 500px;
}

.dropdown--menu{
  display: none;
}

.dropdown--menu.visible{
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  padding:20px;
}
