
body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: lightblue;
  width: 500px;
  height: 500px;
}


.dropdown--menu{
  width: 200px;
  height: 200px;
  background-color: lightgreen;
}
